@charset "UTF-8";

:root{
    --font-size-l: ;
    --font-size-m: ;
    --font-size-s: ;

    --space-xl: ;
    --space-l: ;
    --space-m: ;
    --space-s: ;

    --color-primary: #444;
    --color-secondary: #A3A692;
    --color-bright: #fff;
    --color-dark: #11261A;

    --bg-color-primary: #A3A692;
    --bg-color-secondary: #593D1B;
    --bg-color-logo: #A3A692;

    @media (max-width: 768px) {
        
        --font-size-l: ;
        --font-size-m: ;
        --font-size-s: ;
        
        --space-xl: ;
        --space-l: ;
        --space-m: ;
        --space-s: ;
    }
}

*{
    font-family:"Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
    color: var(--color-primary);
    text-align: center;
}

.header{
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    opacity: 0.9;
    background-color: var(--bg-color-secondary);
}

.header-logo{
    margin-left: 20px;
}

.logo{
    position: relative;
    height: 60px;
    width: 120px;
    opacity: 0.8;
    overflow: hidden;
    border-radius: 20px / 5px;
    background-color: var(--bg-color-logo);
}

.logo__link{
    
}

.logo__img{
    position: absolute;
    width: 50px;;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.logo__title{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 5px 20px;
    color: var(--color-dark);
    transform: matrix(1, -0.1, -0.2, 1, 0, 0);
}

.logo__title--top{
    position: absolute;
    top: 0;
    left: 0;
}

.logo__title--bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-nav{
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
}

.header-nav__list{
    display: flex;
    height: 40px;
    background-color: var(--bg-color-primary);
}

.header-nav__item{
    color: var(--color-dark);
    display: block;
    position: relative;
    width: 100px;
    transition: 500ms;
}

.header-nav__item:hover{
    padding-bottom: 2px;
    transition: 500ms;

    >.header-nav__link{
        border-bottom: 2px solid var(--bg-color-secondary);
    }
}

.header-nav__item::after{
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 2px;
    top: 5px;
    right: 1px;
    background-color: var(--bg-color-secondary);

}

.header-nav__item:last-child::after{
    content: "";
    display: none;
}

.nav__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__link{
    width: 70%;
}

.header__toggle-btn{
    display: none;
}

.main{
    margin-top: 80px;
    width: 100%;
    overflow: hidden;
}

.hero{
    width: 100%;
}